.midfi-container {
    display: flex;
    flex-direction: column;
    padding-top: 7rem;
    align-items: center;
    width: 70%;
    max-width: 900px;
    height: 100vh;
    color: #41644a;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }

  .midfi-container h1 {
    font-size: 3rem;
    text-align: center;
  }

  .midfi-container h2 {
    font-size: 2rem;
  }

  .midfi-container p {
    font-size: 1.5rem;
  }

  .midfi-container img {
    width: 100%;
    border-radius: 20px;
  }

  .midfi-container iframe {
    width: 100%;
    border-radius: 20px;
  }

  .midfi-task-detail {
    width: 100%;
    margin-bottom: 50px;
  }